* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    border:solid;
    height: 100vh;
    background-image: url(../img/space-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-start;
}

.container {
    border: solid;
    height: 75%;
    width: 75%;
    background-image: url(../img/rules\ frame.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 5vh;
    /* padding-bottom: 5vh; */
    display: flex;
    justify-self: center;
    flex-direction: column;
    flex-basis: 75%;
    
} 

#rules {
    margin: 10%;
    overflow: auto;
}

h3 {
    /* margin-top: 10%; */
    text-align: center;
    color: wheat;
    align-self: center
}

ul {
    font-size: .85rem;
    margin-top: 15px; 
    margin-left: 1rem;
    /* margin-left: 12%;
    margin-right: 10%; */
    text-align: justify;
    color: white;
}


#ok-button {
    align-self: center;
    background-image: url("../img/ui_button.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 20px 100px;
    margin-top: 10px;
    color: white;
    font-size: 1.75rem;
    font-family: "Baloo Da 2";
}

